<div class="row">
  <h1>Тут будет скрин сервиса</h1>
</div>

<div class="row">
  <p-tabView>

    <p-tabPanel 
        styleClass="tab-element"
        header="Основные преимущества">
      Content 1
    </p-tabPanel>
    
    <p-tabPanel 
        styleClass="tab-element"    
        header="Преимущества для бизнеса">
      Content 2
    </p-tabPanel>
    
    <p-tabPanel 
        styleClass="tab-element"
        header="Преимущества для клиентов">
      Content 3 
    </p-tabPanel>

  </p-tabView>
</div>
