@import "../../vars.scss";

.success {
  &__title,
  &__s-title,
  &__t-title {
    width: 100%;
    text-align: center;
  }

  &__title {
    margin-bottom: rem(20);
  }

  &__s-title {
    margin-bottom: rem(12);
  }
}
